@import url('https://fonts.googleapis.com/css?family=Itim|Kanit&display=swap');
html{
    height: 100%;
    width: 100%;
}
body{
    width: 100%;
    height: 100%;
}

#home{
    height: 100%;
    width: 100%;
}

.kanit{
    font-family: 'Kanit', sans-serif;
}