@import url('https://fonts.googleapis.com/css?family=Kanit:200&display=swap');

html{
    scroll-behavior: smooth;
    word-wrap: break-word;
}

html, body{
    height: 100%;
    width: 100%;
}

#index-page{
    height: 100%;
    width: 100%;
}

#main{
    padding-top: 56px;
}

#index-body{
    background-image: url("bg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

.kanit{
    font-family: 'Kanit', sans-serif;
}

footer{
    background-color: #2db0fe;
}

body{
    animation: fadein .5s;
}
@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

.footer-icon:hover{
    transform: rotate(10deg);
    transition: .1s;
}