@import url('https://fonts.googleapis.com/css?family=Kanit:200&display=swap');

html{
    scroll-behavior: smooth;
    word-wrap: break-word;
}

html, body{
    height: 100%;
    width: 100%;
}

#index-page{
    height: 100%;
    width: 100%;
}

#main{
    padding-top: 56px;
}

#index-body{
    background-image: url("111.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

.kanit{
    font-family: 'Kanit', sans-serif;
}

#install, #operators, #loop, #list{
    background-color: #FFA69E;
}

#data-type, #function, #string{
    background-color: #A5FFD6;
}

#input-output, #boolean-condition, #string-format{
    background-color: #84DCC6;
}

