@import url('https://fonts.googleapis.com/css?family=Kanit:200&display=swap');
html{
    scroll-behavior: smooth;
}
html, body{
    height: 100%;
    width: 100%;
}
#home{
    height: 100%;
    width: 100%;
}

.kanit{
    font-family: 'Kanit', sans-serif;
}

#install, #operation{
    background-color: #FFA69E;
}

#varieble, #logical-operation{
    background-color: #A5FFD6;
}

#input-output, #string{
    background-color: #84DCC6;
}

