@import url('https://fonts.googleapis.com/css?family=Kanit:200&display=swap');
html{
    scroll-behavior: smooth;
}
html, body{
    height: 100%;
    width: 100%;
}
#home{
    height: 100%;
    width: 100%;
}

.kanit{
    font-family: 'Kanit', sans-serif;
}

#install, #operators{
    background-color: #FFA69E;
}

#data-type, #boolean-condition{
    background-color: #A5FFD6;
}

#input-output, #loop{
    background-color: #84DCC6;
}

